---
import Default from "../layouts/default.astro";
import HtmlLayout from "../layouts/htmlLayout.astro";
import NewIcon from "../components/icons/newIcon.astro";
import VideoIcon from "../components/icons/videoIcon.astro";
import DownloadIcon from "../components/icons/downloadIcon.astro";
import HeartIcon from "../components/icons/heartIcon.astro";
import ArrowRightIcon from "../components/icons/arrowRightIcon.astro";
---

<HtmlLayout>
  <Default>
    <section class="flex pb-16 pt-20 text-gray-50 sm:pt-36">
      <div class="container flex flex-col gap-8 sm:gap-16">
        <div class="flex flex-wrap items-center justify-center gap-4">
          <a
            href="/"
            class="ml-auto flex h-10 w-10 items-center justify-center rounded-xl bg-white/20"
          >
            <ArrowRightIcon />
          </a>

          <div
            class="flex flex-wrap items-center justify-center gap-5 sm:ml-auto sm:gap-10"
          >
            <a
              href="/createPostCard"
              class="active-page flex h-12 items-center justify-center gap-2 rounded-full bg-white/20 px-5 font-semibold sm:h-16 sm:text-lg"
            >
              <NewIcon />
              ساخت کارت پستال</a
            >
            <a
              href="/createVideo"
              class="flex h-12 items-center justify-center gap-2 rounded-full bg-white/20 px-5 font-semibold sm:h-16 sm:text-lg"
            >
              <VideoIcon />
              ساخت ویدئو
            </a>
          </div>
        </div>
        <div
          class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:gap-8"
        >
          {
            new Array(15).fill(0).map(() => (
              <div class="mx-auto flex min-w-full max-w-96 select-none flex-col gap-3 rounded-[2rem] border p-4 lg:p-5">
                <img
                  src="/images/post-card-image.jpeg"
                  alt="Post card image"
                  class="aspect-[10/12] w-full rounded-3xl object-cover object-center"
                />
                <div class="flex items-center justify-between">
                  <span class="overflow-hidden truncate">
                    <b>مدل:</b>
                    نقاشی
                  </span>
                  <div class="flex items-center gap-3">
                    <div class="flex items-center gap-1">
                      <div class="scale-75">
                        <HeartIcon />
                      </div>
                      <span class="pt-1">20</span>
                    </div>
                    <div class="flex items-center gap-1">
                      <div class="scale-75">
                        <DownloadIcon />
                      </div>
                      <span class="pt-1">10</span>
                    </div>
                  </div>
                </div>
                <div class="h-0.5 bg-gray-50/50" />
                <div class="flex gap-5">
                  <a
                    href="/editPostCard?image_id=IMAGE_ID"
                    class="flex h-16 flex-1 items-center justify-center rounded-xl rounded-br-3xl border-2 bg-transparent text-gray-50 transition-all duration-300 hover:border-primary hover:bg-primary"
                  >
                    تایید و مرحله بعد
                  </a>
                  <button class="flex h-16 w-16 items-center justify-center rounded-xl rounded-bl-3xl border">
                    <span class="scale-125">
                      <HeartIcon />
                    </span>
                  </button>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </section>
  </Default>
</HtmlLayout>
