---
import HtmlLayout from "../layouts/htmlLayout.astro";
import Default from "../layouts/default.astro";
import NewIcon from "../components/icons/newIcon.astro";
import VideoIcon from "../components/icons/videoIcon.astro";
import ArrowRightIcon from "../components/icons/arrowRightIcon.astro";
import ArrowLeftIcon from "../components/icons/arrowLeftIcon.astro";
import VideoThumbnailCard from "../components/videoThumbnailCard.astro";
import AudioCard from "../components/audioCard.astro";
---

<HtmlLayout>
  <Default>
    <section class="flex pb-16 pt-20 text-gray-50 sm:pt-36">
      <form
        action="/editCard"
        class="container flex flex-col gap-8 sm:gap-16"
        id="createVideoForm"
      >
        <div class="flex flex-wrap items-center justify-center gap-4">
          <a
            href="/"
            class="ml-auto flex h-10 w-10 items-center justify-center rounded-xl bg-white/20"
          >
            <ArrowRightIcon />
          </a>

          <div
            class="flex flex-wrap items-center justify-center gap-5 sm:ml-auto sm:gap-10"
          >
            <a
              href="/createPostCard"
              class="flex h-12 items-center justify-center gap-2 rounded-full bg-white/20 px-5 font-semibold sm:h-16 sm:text-lg"
            >
              <NewIcon />
              ساخت کارت پستال</a
            >
            <a
              href="/createVideo"
              class="active-page flex h-12 items-center justify-center gap-2 rounded-full bg-white/20 px-5 font-semibold sm:h-16 sm:text-lg"
            >
              <VideoIcon />
              ساخت ویدئو
            </a>
          </div>
        </div>
        <div
          class="gap-4 overflow-hidden rounded-2xl bg-white/10 px-5 pb-5 sm:pb-8"
        >
          <div class="video-slider swiper w-full !overflow-visible">
            <div class="flex flex-wrap items-center justify-between gap-4 py-4">
              <div class="flex flex-col gap-1.5">
                <h3 class="text-xl font-semibold sm:text-2xl">
                  کارت پستال های روز پدر
                </h3>
                <p class="text-sm">کارت پستال مد نظر خود را پیدا کنید</p>
              </div>
              <div class="flex items-center gap-2">
                <button
                  type="button"
                  class="prev ml-auto flex h-10 w-10 items-center justify-center rounded-xl bg-white/20"
                >
                  <ArrowRightIcon />
                </button>
                <button
                  type="button"
                  class="next ml-auto flex h-10 w-10 items-center justify-center rounded-xl bg-white/20"
                >
                  <ArrowLeftIcon />
                </button>
              </div>
            </div>
            <div class="swiper-wrapper">
              <VideoThumbnailCard />
              <VideoThumbnailCard />
            </div>
          </div>
        </div>
        <div class="gap-4 overflow-hidden rounded-2xl px-5 pb-5 sm:pb-8">
          <div class="audio-slider swiper w-full !overflow-visible">
            <div class="flex flex-wrap items-center justify-between gap-4 py-4">
              <div class="flex flex-col gap-1.5">
                <h3 class="text-xl font-semibold sm:text-2xl">
                  موسیقی روز پدر
                </h3>
                <p class="text-sm">موسیقی مد نظر خود را انتخاب کنید</p>
              </div>
              <div class="flex items-center gap-2">
                <button
                  type="button"
                  class="prev ml-auto flex h-10 w-10 items-center justify-center rounded-xl bg-white/20"
                >
                  <ArrowRightIcon />
                </button>
                <button
                  type="button"
                  class="next ml-auto flex h-10 w-10 items-center justify-center rounded-xl bg-white/20"
                >
                  <ArrowLeftIcon />
                </button>
              </div>
            </div>
            <div class="swiper-wrapper">
              <AudioCard />
              <AudioCard />
            </div>
          </div>
        </div>
        <div class="flex items-center">
          <button
            disabled
            type="submit"
            id="createVideoButton"
            class="mr-auto flex h-14 w-full max-w-72 items-center justify-center rounded-2xl bg-primary px-8 text-lg disabled:bg-white/20 disabled:opacity-50 sm:h-16 sm:min-w-72 sm:px-10 sm:text-xl"
          >
            تایید و مرحله بعد
          </button>
        </div>
      </form>
    </section>
  </Default>
</HtmlLayout>
