---

---

<footer class="flex h-8 items-center bg-black text-gray-50">
  <div class="container mx-auto">
    <ul class="flex flex-wrap justify-center gap-5 text-xs">
      <li><a href="//ctelecom.ir/">سی تلکام</a></li>
      <li><a href="//ctelecom.ir/category-mobile">فروشگاه</a></li>
      <li><a href="//ctelecom.ir/blog">بلاگ</a></li>
      <li><a href="//ctelecom.ir/aboutus">درباره ما</a></li>
      <li><a href="//ctelecom.ir/contactus">تماس با ما</a></li>
      <li>
        <a href="//instagram.com/ctelecom">اینستاگرام</a>
      </li>
    </ul>
  </div>
</footer>
