---
const items = ["خانه", "کارت پستال", "ساخت ویدئو", "تماس با ما"];
---

<header
  style="z-index: 1010011"
  id="header"
  class="fixed inset-0 bottom-auto flex h-16 items-center bg-gray-50/50 px-2 text-gray-900 backdrop-blur sm:h-20 md:px-8 lg:px-16"
>
  <a href="//ctelecom.ir/">
    <img
      src="/images/logo.png"
      alt="CTelecom logo"
      class="hidden h-7 md:block"
    />
  </a>
  <ul
    class="text-blue-dark bottom-auto mr-auto flex gap-5 text-xs md:text-base"
  >
    {
      items.map((item) => (
        <li class="nav-items relative flex items-end justify-center after:absolute after:h-1 after:w-0 after:rounded-full after:bg-red-500 after:transition-all after:duration-200 hover:after:w-full">
          <a href="#">{item}</a>
        </li>
      ))
    }
  </ul>
</header>
