---
import MouseScrollIcon from "../icons/mouseScrollIcon.astro";
---

<section
  class="hero-section relative flex min-h-svh items-center justify-center"
>
  <link rel="preload" as="image" href="/images/hero/moon.png" />
  <link rel="preload" as="image" href="/images/hero/starts.png" />
  <link rel="preload" as="image" href="/images/hero/background.png" />
  <link rel="preload" as="image" href="/images/hero/foreground.png" />
  <link rel="preload" as="image" href="/images/hero/father-and-child.png" />
  <link rel="preload" as="image" href="/images/hero/clouds/cloud-reverse.png" />
  <link
    rel="preload"
    as="image"
    href="/images/hero/clouds/cloud-up-to-bottom.png"
  />
  <link rel="preload" as="image" href="/images/hero/clouds/cloud-3.png" />
  <link rel="preload" as="image" href="/images/hero/clouds/cloud.png" />

  <div
    id="loading"
    class="absolute inset-0 flex flex-col items-center justify-center bg-black"
    style="z-index: 9999999"
  >
    <div
      class="ct-welcome pointer-events-none mt-auto flex flex-col items-center justify-center gap-5 text-gray-50"
    >
      <img
        class="mt-8 max-h-16 grayscale invert"
        src="/images/logo.png"
        alt="CTelecom"
      />
      <h1 class="mt-5 text-6xl font-bold">روز پـدر مـبـارک</h1>
      <p class="text-4xl font-medium">
        <span class="font-bold text-primary underline">پدر؛</span> نهایت یک همراهی
      </p>
      <div class="mt-8 w-12 animate-bounce">
        <MouseScrollIcon />
      </div>
    </div>
    <p class="loading-text mt-auto pb-16 text-gray-50">کمی صبر کنید...</p>
  </div>

  <img draggable="false" src="/images/hero/moon.png" alt="Moon" class="moon" />
  <img
    draggable="false"
    src="/images/hero/starts.png"
    alt="Stars"
    class="stars"
  />
  <img
    draggable="false"
    src="/images/hero/background.png"
    alt="background"
    class="background"
  />
  <img
    draggable="false"
    src="/images/hero/foreground.png"
    alt="background"
    class="foreground"
  />
  <img
    draggable="false"
    src="/images/hero/father-and-child.png"
    alt="father-and-child"
    class="father-and-child"
  />

  <!--Clouds-->

  <img
    draggable="false"
    src="/images/hero/clouds/cloud-reverse.png"
    alt="cloud-reverse"
    class="cloud-reverse"
  />
  <img
    draggable="false"
    src="/images/hero/clouds/cloud-up-to-bottom.png"
    alt="cloud-up-to-bottom"
    class="cloud-up-to-bottom"
  />
  <img
    draggable="false"
    src="/images/hero/clouds/cloud-3.png"
    alt="cloud-3"
    class="cloud-3"
  />
  <img
    draggable="false"
    src="/images/hero/clouds/cloud.png"
    alt="cloud"
    class="cloud"
  />

  <img
    draggable="false"
    src="/images/hero/clouds/cloud-right-to-bottom.png"
    alt="cloud-right-to-bottom"
    class="cloud-right-to-bottom"
  />
</section>
<style>
  .hero-section {
    background: #090830;
    background-image: linear-gradient(
      180deg,
      #000041 0%,
      #255ec2 49.01%,
      #f9df9c 100%
    );
    @apply overflow-hidden;
  }

  .moon {
    @apply absolute top-32 z-10 w-64;
    filter: drop-shadow(0 0 60px #fff);
  }

  .stars {
    @apply absolute left-0 right-0 top-0 mx-auto h-auto min-w-[840px];
  }

  .background {
    @apply absolute -bottom-[1vw] -right-[4vw] left-[-4vw];
  }

  .foreground {
    @apply absolute -bottom-[3vw] left-0 right-0 z-50;
  }

  .father-and-child {
    @apply absolute bottom-[3.8vw] z-50 ml-[3.5vw] w-[10vw];
  }

  .cloud-reverse {
    @apply absolute right-[-16vw] top-0 w-[40vw];
  }

  .cloud-up-to-bottom {
    @apply absolute -top-[max(1vw,1rem)] left-0 z-30 w-[max(40vw,30rem)] rotate-3;
  }

  .cloud-3 {
    @apply absolute -left-[max(5vw,16rem)] top-[5vw] z-30 w-[max(40vw,30rem)];
  }

  .cloud {
    @apply absolute top-80 z-30 mr-32 w-[max(30vw,20rem)] -scale-x-100;
  }

  .cloud-right-to-bottom-2 {
    @apply absolute;
  }

  .cloud-right-to-bottom {
    @apply absolute -right-[10vw] bottom-[25vw] w-[50vw];
  }
</style>
