---
import MouseScrollIcon from "../icons/mouseScrollIcon.astro";
---

<section
  class="hero-section minh relative flex min-h-dvh items-center justify-center"
>
  <link rel="preload" as="image" href="/images/hero/moon.png" />
  <link rel="preload" as="image" href="/images/hero/starts.png" />
  <link rel="preload" as="image" href="/images/hero/background.png" />
  <link rel="preload" as="image" href="/images/hero/foreground.png" />
  <link rel="preload" as="image" href="/images/hero/father-and-child.png" />
  <link rel="preload" as="image" href="/images/hero/clouds/cloud-reverse.png" />
  <link
    rel="preload"
    as="image"
    href="/images/hero/clouds/cloud-up-to-bottom.png"
  />
  <link rel="preload" as="image" href="/images/hero/clouds/cloud-3.png" />
  <link rel="preload" as="image" href="/images/hero/clouds/cloud.png" />

  <div
    id="loading"
    class="absolute inset-0 flex flex-col items-center justify-center bg-black"
    style="z-index: 9999999"
  >
    <div
      class="ct-welcome pointer-events-none mt-auto flex flex-col items-center justify-center gap-5 text-gray-50"
    >
      <img
        class="mt-8 max-h-16"
        src="/images/ctelecom-black-and-white.png"
        alt="CTelecom"
      />
      <h1 class="mt-5 text-6xl font-bold">روز پـدر مـبـارک</h1>
      <p class="text-4xl font-medium">
        <span class="font-bold text-primary underline">پدر؛</span> نهایت یک همراهی
      </p>
      <div class="mt-8 w-12 animate-bounce">
        <MouseScrollIcon />
      </div>
    </div>
    <p class="loading-text mt-auto pb-16 text-gray-50">کمی صبر کنید...</p>
  </div>

  <img draggable="false" src="/images/hero/moon.png" alt="Moon" class="moon" />
  <img
    draggable="false"
    src="/images/hero/starts.png"
    alt="Stars"
    class="stars"
  />
  <img
    draggable="false"
    src="/images/hero/background.png"
    alt="background"
    class="background"
  />
  <img
    draggable="false"
    src="/images/hero/foreground.png"
    alt="background"
    class="foreground"
  />
  <div class="father-and-child">
    <div class="dialog">
      <span class="relative z-50">بابا جونم روزت مبارک ❤</span>
    </div>

    <img
      draggable="false"
      src="/images/hero/father-and-child.png"
      alt="father-and-child"
    />
  </div>

  <!--Clouds-->

  <img
    draggable="false"
    src="/images/hero/clouds/cloud-reverse.png"
    alt="cloud-reverse"
    class="cloud-reverse"
  />
  <img
    draggable="false"
    src="/images/hero/clouds/cloud-up-to-bottom.png"
    alt="cloud-up-to-bottom"
    class="cloud-up-to-bottom"
  />
  <img
    draggable="false"
    src="/images/hero/clouds/cloud-3.png"
    alt="cloud-3"
    class="cloud-3"
  />
  <img
    draggable="false"
    src="/images/hero/clouds/cloud.png"
    alt="cloud"
    class="cloud"
  />

  <img
    draggable="false"
    src="/images/hero/clouds/cloud-right-to-bottom.png"
    alt="cloud-right-to-bottom"
    class="cloud-right-to-bottom"
  />
</section>
