---
import CtIcon from "../icons/ctIcon.astro";
import GiftIcon from "../icons/giftIcon.astro";
import ClipboardIcon from "../icons/clipboardIcon.astro";
import WinnersList from "./winnersList.astro";
import PlusIcon from "../icons/plusIcon.astro";
import Dialog from "./dialog.astro";
---

<section class="mystery-section py-16">
  <div class="container flex flex-col gap-8 lg:flex-row">
    <div class="flex flex-1 flex-col gap-4 text-gray-50">
      <h3 class="text-xl font-semibold sm:text-2xl">شانست رو امتحان کن</h3>
      <ul class="mr-5 list-disc text-sm sm:text-lg">
        <li>
          با انتخاب 3 جعبه علامت سوال، اعتبار سی تی بُن خودت رو افزایش بده
        </li>
        <li>
          شما می‌توانید با دعوت از دوستان خود شانس‌تان را بیشتر کنید. (هر دعوت
          یک شانس!!!)
        </li>
      </ul>

      <div class="mb-5 flex items-center gap-3 text-sm sm:text-base">
        <span>کد عضویت شما</span>
        <button
          id="copyReferalCode"
          data-code="referal-code-here-123456"
          class="flex h-8 items-center gap-2 rounded-full bg-white/20 px-3 sm:h-10 sm:px-5 sm:text-lg"
        >
          <span class="pt-1">123456</span>
          <ClipboardIcon />
        </button>
      </div>
      <div class="flex justify-between flex-wrap items-center">
        <div class="flex items-center max-h-8 gap-2 font-light text-xs sm:text-lg">
          <span>500,000T</span>
          <div class="flex items-center justify-center w-7 sm:w-8 rounded-lg bg-white/10 p-1">
            <img src="/images/rewards/ctelecom.png" class="aspect-square" />
          </div>
        </div>
        <div class="flex items-center max-h-8 gap-2 font-light text-xs sm:text-lg">
          <span>125,000T</span>
          <div class="flex items-center justify-center w-7 sm:w-8 rounded-lg bg-white/10 p-1">
            <img src="/images/rewards/moustache.png" class="aspect-square" />
          </div>
        </div>
        <div class="flex items-center max-h-8 gap-2 font-light text-xs sm:text-lg">
          <span>100,000T</span>
          <div class="flex items-center justify-center w-7 sm:w-8 rounded-lg bg-white/10 p-1">
            <img src="/images/rewards/tie.png" class="aspect-square" />
          </div>
        </div>
        <div class="flex items-center max-h-8 gap-2 font-light text-xs sm:text-lg">
          <span>75,000T</span>
          <div class="flex items-center justify-center w-7 sm:w-8 rounded-lg bg-white/10 p-1">
            <img src="/images/rewards/bow-tie.png" class="aspect-square" />
          </div>
        </div>
        <div class="flex items-center max-h-8 gap-2 font-light text-xs sm:text-lg">
          <span>50,000T</span>
          <div class="flex items-center justify-center w-7 sm:w-8 rounded-lg bg-white/10 p-1">
            <img src="/images/rewards/glasses.png" class="aspect-square" />
          </div>
        </div>


      </div>

      <div class="mt-auto flex flex-col gap-2 text-sm sm:text-base">
        <p>لیست برندگان ( بیشترین دریافت سی تی بن )</p>
        <WinnersList />
      </div>
    </div>

    <div class="relative mx-auto flex flex-1 flex-col items-end gap-2 lg:mx-0">
      <div class="z-50 flex gap-4">
        <div
          class="flex h-8 items-center gap-2 rounded-full bg-neutral-900 pr-5 text-base text-white sm:h-10 sm:text-xl"
        >
          <div class="flex gap-0.5">
            <span>بن</span>
            <span id="rewards">000</span>
          </div>
          <div
            class="icon-background flex aspect-square h-full items-center justify-center rounded-full"
          >
            <CtIcon />
          </div>
        </div>
        <div
          class="flex h-8 items-center gap-2 rounded-full bg-neutral-900 pr-5 text-base text-white sm:h-10 sm:text-xl"
        >
          <a href="#">
            <PlusIcon />
          </a>
          <span class="pt-1" id="points">5</span>
          <div
            class="icon-background flex aspect-square h-full items-center justify-center rounded-full"
          >
            <GiftIcon />
          </div>
        </div>
      </div>
      <div class="relative max-w-[542px]" style="max-width: 542px">
        <img
          src="/images/game-border.png"
          class="game-border aspect-square w-full"
          alt="game border"
        />
        <div class="absolute inset-0 grid grid-cols-4 gap-1 px-5 py-5" id="mystery-game">
          {
            new Array(16).fill(0).map(() => (
              <div class="relative flex aspect-square items-center justify-center">
                <!--remove ".z-50" class from '.mystery-box' to show box as open by default-->
                <img
                  src="/images/mystery-box.png"
                  alt="mystery box"
                  class="mystery-box absolute cursor-pointer z-50"
                  draggable="false"
                />
                <img
                  src="/images/opened-box.png"
                  alt="mystery box opened"
                  class="absolute z-20"
                  draggable="false"
                />
                <div class="absolute z-30 flex items-center justify-center">
                  <img
                    src="https://e7.pngegg.com/pngimages/119/921/png-clipart-flower-dahlia-flower-flower-garden-annual-plant.png"
                    alt="mystery box opened"
                    class="mx-auto aspect-square w-8/12 rounded-md bg-gray-500"
                    draggable="false"
                  />
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
  <Dialog />
</section>

