---

---
<div class="min-h-44 rounded-xl bg-cetacean-blue px-5 py-2">
  <table class="table-auto text-right w-full">
    <thead class="pb-5">
    <tr>
      <th class="border-b pb-2 mb-1">نام:</th>
      <th class="border-b pb-2 mb-1">شماره تلفن:</th>
      <th class="border-b pb-2 mb-1">سی تی بن (تومان)</th>
      <th class="border-b pb-2 mb-1">امتیاز</th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <td class="py-1">سعید آخشیجان</td>
      <td class="py-1" dir="ltr">09303***213</td>
      <td class="py-1">{(1_000_000).toLocaleString()}</td>
      <td class="py-1">15</td>
    </tr>

    <tr>
      <td class="py-1">علیرضا شادمان</td>
      <td class="py-1" dir="ltr">09961***123</td>
      <td class="py-1">{(1_000_000).toLocaleString()}</td>
      <td class="py-1">5</td>
    </tr>


    </tbody>
  </table>
</div>