---

---

<main class="flex min-h-svh flex-col justify-center bg-black">
  <div class="container flex items-center justify-center py-16">
    <div class="flex w-full max-w-96 items-center justify-center">
      <div class="my-auto w-full space-y-14 text-gray-50">
        <div class="space-y-4 text-center">
          <img
            draggable="false"
            class="mx-auto h-12 w-auto"
            alt="CTelecom Logo"
            src="https://customer.ctelecom.ir/assets/imgs/Ctelecom-LOGO-white.png"
          />
          <p class="text-3xl font-semibold text-gray-50">پدر نهایت یک همراهی</p>
        </div>

        <slot />
      </div>
    </div>
  </div>
</main>
