---

---

<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/css/fontiran.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link rel="preload" as="image" href="/images/hero/moon.png" />
    <link rel="preload" as="image" href="/images/hero/starts.png" />
    <link rel="preload" as="image" href="/images/hero/background.png" />
    <link rel="preload" as="image" href="/images/hero/foreground.png" />
    <link rel="preload" as="image" href="/images/hero/father-and-child.png" />
    <link
      rel="preload"
      as="image"
      href="/images/hero/clouds/cloud-reverse.png"
    />
    <link
      rel="preload"
      as="image"
      href="/images/hero/clouds/cloud-up-to-bottom.png"
    />
    <link rel="preload" as="image" href="/images/hero/clouds/cloud-3.png" />
    <link rel="preload" as="image" href="/images/hero/clouds/cloud.png" />

    <title>Astro</title>
  </head>
  <body class="overflow-x-hidden bg-cetacean-blue font-kalameh">
    <slot />
  </body>

  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script is:inline src="/js/app.js"></script>
  <script is:inline src="/js/mystery.js"></script>
</html>

<style is:global>
  .active-page {
    @apply bg-primary text-gray-50 !important;
  }

  .swiper-button-disabled {
    @apply opacity-50 !important;
  }

  .apply {
    @apply !hidden;
  }
</style>
