---

---

<html lang="fa" dir="rtl">
  <!--Add .hidden to apply display: none; to any element-->
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/css/fontiran.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <title>Astro</title>
  </head>
  <body class="overflow-x-hidden bg-cetacean-blue font-kalameh">
    <slot />
  </body>

  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script
    is:inline
    src="https://unpkg.com/@studio-freight/lenis@1.0.33/dist/lenis.min.js"
  ></script>
  <script
    is:inline
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"
  ></script>
  <script
    is:inline
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js"
  ></script>
  <script is:inline src="/js/app.js"></script>
  <script is:inline src="/js/mystery.js"></script>
</html>

<style is:global>
  .mystery-section {
    background: radial-gradient(
      77.2% 164.08% at 28.21% 47.17%,
      #255ec2 0%,
      #1b2262 100%
    );
  }

  .icon-background {
    background: linear-gradient(212.47deg, #ffd600 11.46%, #bb7b00 86.42%);
  }

  .game-border {
    filter: drop-shadow(-20px 20px 50px black);
  }

  .active-page {
    @apply bg-primary text-gray-50 !important;
  }

  .nav-items {
    @apply after:top-[calc(100%+0.25rem)];
  }

  .swiper-button-disabled {
    @apply opacity-50 !important;
  }

  .apply {
    @apply !hidden;
  }

  .hidden-card {
    @apply hidden !important;
  }

  .image-aspect {
    @apply aspect-[10/12];
  }

  .otp-grid {
    @apply grid-cols-[repeat(var(--opt-len),minmax(0,1fr))];
  }

  .filter-items {
    @apply cursor-pointer after:top-[calc(100%+0.15rem)] hover:after:w-[calc(100%+1rem)];
  }

  .filter-items.active {
    @apply after:top-[calc(100%+0.15rem)] after:w-full !important;
  }

  .hero-section {
    background: #090830;
    background-image: linear-gradient(
      180deg,
      #000041 0%,
      #255ec2 49.01%,
      #f9df9c 100%
    );
    @apply overflow-hidden;
  }

  .moon {
    @apply absolute top-32 z-10 w-64;
    filter: drop-shadow(0 0 60px #fff);
  }

  .stars {
    @apply absolute left-0 right-0 top-0 mx-auto h-auto min-w-[840px];
  }

  .background {
    @apply absolute -bottom-[1vw] -right-[4vw] left-[-4vw];
  }

  .foreground {
    @apply absolute -bottom-[3vw] left-0 right-0 z-50;
  }

  .father-and-child {
    @apply absolute bottom-[3.8vw] z-50 ml-[3.5vw] w-[10vw];
  }

  .cloud-reverse {
    @apply absolute right-[-16vw] top-0 w-[40vw];
  }

  .cloud-up-to-bottom {
    @apply absolute -top-[max(1vw,1rem)] left-0 z-30 w-[max(40vw,30rem)] rotate-3;
  }

  .cloud-3 {
    @apply absolute -left-[max(5vw,16rem)] top-[5vw] z-30 w-[max(40vw,30rem)];
  }

  .cloud {
    @apply absolute top-80 z-30 mr-32 w-[max(30vw,20rem)] -scale-x-100;
  }

  .cloud-right-to-bottom-2 {
    @apply absolute;
  }

  .cloud-right-to-bottom {
    @apply absolute -right-[10vw] bottom-[25vw] w-[50vw];
  }
</style>
